<?xml version="1.0"?>
<configuration>
    <appSettings>
    </appSettings>

    <system.web>
        <compilation debug="true" targetFramework="4.6" />
        <httpRuntime targetFramework="4.6" />

        <authentication mode="Forms">
            <forms defaultUrl="Default.aspx" loginUrl="Login.aspx" name="AppAuth" />
        </authentication>

        <authorization>
            <deny users="?" />
        </authorization>
    </system.web>

</configuration>
